@{
    Layout = "_Layout";
    ViewBag.Title = "Recipe Home";
}


<h1>Spice It Up!</h1>
<h3>Let's spice things up a bit ;)</h3>
<h3>Click <a asp-action="Create">here</a> to add a new recipe</h3>
